$size : 100px;
$days: ('mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun');
$index : 1;
$fullMonthDuration: 31;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.calendar {
  margin-top: 75px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1px;

  div {
    width: $size;
    height: $size;
    background-color: #eee;
    border: 1px solid black;
    transition: background-color 0.5s, transform 0.5s;
  }

  @for $i from 1 through $fullMonthDuration {
    div:nth-child(#{$i}):hover {
      background-color: pink;
      transform: translate(0, -20px);
      cursor: pointer;
    }
    div:nth-child(#{$i})::after {
      content: "#{$i}";
      display: flex;
      justify-content: center;
      width: $size;
      line-height: $size;
    }
  }
}

@each $day in $days {
  .calendar-#{$day} > div:nth-child(1) {
    grid-column-start: (#{$index });
  }
  $index : $index + 1;
}

@for $num from 28 to $fullMonthDuration {
  .calendar-#{$num} div:nth-child(#{$num}) ~ div {
    display: none;
  }
}
