* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.calendar {
  margin-top: 75px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1px;
}
.calendar div {
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid black;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar div:nth-child(1):hover {
  background-color: pink;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar div:nth-child(1)::after {
  content: "1";
  display: flex;
  justify-content: center;
  width: 100px;
  line-height: 100px;
}
.calendar div:nth-child(2):hover {
  background-color: pink;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar div:nth-child(2)::after {
  content: "2";
  display: flex;
  justify-content: center;
  width: 100px;
  line-height: 100px;
}
.calendar div:nth-child(3):hover {
  background-color: pink;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar div:nth-child(3)::after {
  content: "3";
  display: flex;
  justify-content: center;
  width: 100px;
  line-height: 100px;
}
.calendar div:nth-child(4):hover {
  background-color: pink;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar div:nth-child(4)::after {
  content: "4";
  display: flex;
  justify-content: center;
  width: 100px;
  line-height: 100px;
}
.calendar div:nth-child(5):hover {
  background-color: pink;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar div:nth-child(5)::after {
  content: "5";
  display: flex;
  justify-content: center;
  width: 100px;
  line-height: 100px;
}
.calendar div:nth-child(6):hover {
  background-color: pink;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar div:nth-child(6)::after {
  content: "6";
  display: flex;
  justify-content: center;
  width: 100px;
  line-height: 100px;
}
.calendar div:nth-child(7):hover {
  background-color: pink;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar div:nth-child(7)::after {
  content: "7";
  display: flex;
  justify-content: center;
  width: 100px;
  line-height: 100px;
}
.calendar div:nth-child(8):hover {
  background-color: pink;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar div:nth-child(8)::after {
  content: "8";
  display: flex;
  justify-content: center;
  width: 100px;
  line-height: 100px;
}
.calendar div:nth-child(9):hover {
  background-color: pink;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar div:nth-child(9)::after {
  content: "9";
  display: flex;
  justify-content: center;
  width: 100px;
  line-height: 100px;
}
.calendar div:nth-child(10):hover {
  background-color: pink;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar div:nth-child(10)::after {
  content: "10";
  display: flex;
  justify-content: center;
  width: 100px;
  line-height: 100px;
}
.calendar div:nth-child(11):hover {
  background-color: pink;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar div:nth-child(11)::after {
  content: "11";
  display: flex;
  justify-content: center;
  width: 100px;
  line-height: 100px;
}
.calendar div:nth-child(12):hover {
  background-color: pink;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar div:nth-child(12)::after {
  content: "12";
  display: flex;
  justify-content: center;
  width: 100px;
  line-height: 100px;
}
.calendar div:nth-child(13):hover {
  background-color: pink;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar div:nth-child(13)::after {
  content: "13";
  display: flex;
  justify-content: center;
  width: 100px;
  line-height: 100px;
}
.calendar div:nth-child(14):hover {
  background-color: pink;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar div:nth-child(14)::after {
  content: "14";
  display: flex;
  justify-content: center;
  width: 100px;
  line-height: 100px;
}
.calendar div:nth-child(15):hover {
  background-color: pink;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar div:nth-child(15)::after {
  content: "15";
  display: flex;
  justify-content: center;
  width: 100px;
  line-height: 100px;
}
.calendar div:nth-child(16):hover {
  background-color: pink;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar div:nth-child(16)::after {
  content: "16";
  display: flex;
  justify-content: center;
  width: 100px;
  line-height: 100px;
}
.calendar div:nth-child(17):hover {
  background-color: pink;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar div:nth-child(17)::after {
  content: "17";
  display: flex;
  justify-content: center;
  width: 100px;
  line-height: 100px;
}
.calendar div:nth-child(18):hover {
  background-color: pink;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar div:nth-child(18)::after {
  content: "18";
  display: flex;
  justify-content: center;
  width: 100px;
  line-height: 100px;
}
.calendar div:nth-child(19):hover {
  background-color: pink;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar div:nth-child(19)::after {
  content: "19";
  display: flex;
  justify-content: center;
  width: 100px;
  line-height: 100px;
}
.calendar div:nth-child(20):hover {
  background-color: pink;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar div:nth-child(20)::after {
  content: "20";
  display: flex;
  justify-content: center;
  width: 100px;
  line-height: 100px;
}
.calendar div:nth-child(21):hover {
  background-color: pink;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar div:nth-child(21)::after {
  content: "21";
  display: flex;
  justify-content: center;
  width: 100px;
  line-height: 100px;
}
.calendar div:nth-child(22):hover {
  background-color: pink;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar div:nth-child(22)::after {
  content: "22";
  display: flex;
  justify-content: center;
  width: 100px;
  line-height: 100px;
}
.calendar div:nth-child(23):hover {
  background-color: pink;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar div:nth-child(23)::after {
  content: "23";
  display: flex;
  justify-content: center;
  width: 100px;
  line-height: 100px;
}
.calendar div:nth-child(24):hover {
  background-color: pink;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar div:nth-child(24)::after {
  content: "24";
  display: flex;
  justify-content: center;
  width: 100px;
  line-height: 100px;
}
.calendar div:nth-child(25):hover {
  background-color: pink;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar div:nth-child(25)::after {
  content: "25";
  display: flex;
  justify-content: center;
  width: 100px;
  line-height: 100px;
}
.calendar div:nth-child(26):hover {
  background-color: pink;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar div:nth-child(26)::after {
  content: "26";
  display: flex;
  justify-content: center;
  width: 100px;
  line-height: 100px;
}
.calendar div:nth-child(27):hover {
  background-color: pink;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar div:nth-child(27)::after {
  content: "27";
  display: flex;
  justify-content: center;
  width: 100px;
  line-height: 100px;
}
.calendar div:nth-child(28):hover {
  background-color: pink;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar div:nth-child(28)::after {
  content: "28";
  display: flex;
  justify-content: center;
  width: 100px;
  line-height: 100px;
}
.calendar div:nth-child(29):hover {
  background-color: pink;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar div:nth-child(29)::after {
  content: "29";
  display: flex;
  justify-content: center;
  width: 100px;
  line-height: 100px;
}
.calendar div:nth-child(30):hover {
  background-color: pink;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar div:nth-child(30)::after {
  content: "30";
  display: flex;
  justify-content: center;
  width: 100px;
  line-height: 100px;
}
.calendar div:nth-child(31):hover {
  background-color: pink;
  transform: translate(0, -20px);
  cursor: pointer;
}
.calendar div:nth-child(31)::after {
  content: "31";
  display: flex;
  justify-content: center;
  width: 100px;
  line-height: 100px;
}

.calendar-mon > div:nth-child(1) {
  grid-column-start: 1;
}

.calendar-tue > div:nth-child(1) {
  grid-column-start: 2;
}

.calendar-wed > div:nth-child(1) {
  grid-column-start: 3;
}

.calendar-thu > div:nth-child(1) {
  grid-column-start: 4;
}

.calendar-fri > div:nth-child(1) {
  grid-column-start: 5;
}

.calendar-sat > div:nth-child(1) {
  grid-column-start: 6;
}

.calendar-sun > div:nth-child(1) {
  grid-column-start: 7;
}

.calendar-28 div:nth-child(28) ~ div {
  display: none;
}

.calendar-29 div:nth-child(29) ~ div {
  display: none;
}

.calendar-30 div:nth-child(30) ~ div {
  display: none;
}

/*# sourceMappingURL=style.css.map */
